<!DOCTYPE html>
<html><head>
  <title>Renovate Software - Authenication</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="https://renovatesoftware.com:140/images/logo.png">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
  <![endif]-->
<style></style></head>
<body style="">
<center>
  <br>
  <div style="width: 70%" class="alert alert-primary">
  <br>
  <p class="container">ℹ️ <b>INFO:</b> We're now recording your location and IP address after you log in, to protect your account from attackers. <a target="_blank" href="../../privacy">Learn more.</a></p>
  </div>
</center>
  
<div class="container">
<div class="row">

<div id="styler" style="padding: 5%">   
  
<h1>Login</h1>
<p>Enter your credentials to authenticate with Renovate Software.</p>
  
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<button name="" type="button" class="btn btn-disabled">Back</button>
<button type="submit" class="btn btn-primary">Next</button>
</form>

<br>
<a href="../register">Need an account?</a>
</div>
</div>
</div>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

<script>
// Automatic dark / light mode system.

let today = new Date()
let currentHour = today.getHours()

if (currentHour < 7) {
  activateDarkMode();
} else if (currentHour < 18) {
  activateLightMode();
} else {
  activateDarkMode();
}


// Dark Mode
function activateDarkMode () {
document.body.style.backgroundColor = "black";
console.log("Dark Mode Active");
document.getElementById("styler").style.color = "white";
}

// Light Mode
function activateLightMode () {
document.body.style.backgroundColor = "white";
console.log("Light Mode Active");
}
</script>
    <!-- Auto Translate -->
  <script src="https://renovatesoftware.com:140/js/AutoTranslate.js"></script>
</body>
</html>